.table {
    width: 98%;
}

.table>table{
    cursor: pointer;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
th, td {
    padding: 0 10px;
}
.table thead {
    height: 33px;
    position: sticky;
    top: 0;
    z-index: 3;  
}

.table th, td{
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
}

.table th {
    background-color: #e5e8ec !important; 
    font-size: 12px;
    text-align: left;
    color: #111111;
    border-right: 1px solid #c7c7c7;
}

.table td{
    height: 43px;
    /* Dùng để set cho chiều dài k vượt quá */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.table tr{
    height: 43px;
    background-color: #fff;
}

.table tr:hover {
    background: #f2f9ff;
}

.table td:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

.table_tr_select {
    background: #e5f3ff !important;
    position: sticky;
    top: 43px;
    z-index: 3;
}

.table__center{
    text-align: center !important;
}

.table__right{
    text-align: right !important;
}

.table table td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: 1px solid #c7c7c7 !important;
    background-color: inherit;
}

.table table td:nth-last-child(2) {
    position: sticky;
    right: 0;
    z-index: 2;
    border-left: 1px dotted #c7c7c7 !important;
    background-color: inherit;
    overflow:visible;
    border-right: none;
}

.table table td:nth-last-child(1) {
    overflow:visible;
}

.table table th:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    border-right: 1px solid #c7c7c7 !important; 
    background-color: #e5e8ec;
}

.table table th:last-child {
    position: sticky;
    right: 0;
    z-index: 3;
    border-left: 1px solid #c7c7c7 !important;
    background-color: #e5e8ec;
    border-right: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table__popup {
    position: sticky;
    right: 0;
    z-index: 5;
    border: none;
    background-color: #fff;
    width: 0;
    padding: 0;
}

.row--selected{
    background-color: #e5f3ff!important;
}

.rows--checked{
    background-color: #e5f3ff!important;
}




